@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800&display=swap');

body { 
    font-family: 'Tajawal', sans-serif; 
}

/* تخصيص شكل شريط التمرير Scrollbar */
::-webkit-scrollbar { 
    width: 6px; 
}

::-webkit-scrollbar-track { 
    background: #0f172a; 
}

::-webkit-scrollbar-thumb { 
    background: #334155; 
    border-radius: 4px; 
}