@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;800;900&display=swap');

body { 
    font-family: 'Cairo', sans-serif; 
}

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #64748b55; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #64748b99; }
